/* BEGIN VIEWBOX */
body {
    margin: 0;
    overflow: hidden; /* Keine Scrollbalken */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#svg-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#svg1 {
    position: absolute;
    top: 0;
    left: 0;
}
/* END VIEWBOX */

/* BEGIN SIDE NAV */
#nav {
    position: fixed;
    right: 5%;
    bottom: 10%;
    display: inline-grid;
    padding: 1vh;
    width: fit-content;
}

.nav_btn {
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #6464b980;
    border: 2px solid #6464b9;
    border-radius: 12px;
    padding: 3%;
    font-size: large;
    height: 50px;
}

.nav_btn:hover {
    background-color: #6464b9;
    color: white;
}

.nav_btn img {
    height: "10em";
}
/* END SIDE NAV */


/* BEGIN TOP NAV */
.header {
    position: fixed;
    color: white;
    background-color: #6464b9;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;

    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    z-index: 10;
    padding-top: 5px;
    padding-bottom: 5px;
}

.header p, .header div, .header a {
    padding: 0px 10px;
    text-decoration: none;
}

.select_seat {
    display: flex;
    gap: 0.5rem;
    margin-inline-end: auto;
    padding: 0 !important;
}

.gh_img {
    height: 1.5em;
}

#location_banner {
    top: 0;
    left: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6464b9;
    position: fixed;
    z-index: 10;
}

#location_text {
    font-weight: bold;
}
/* END TOP NAV */

/* BEGIN MOBILE VERSION */
@media only screen and (max-width: 600px) {
    #location_banner {
        width: 100vw;

    }
    .header p, .header div, .header a {
        padding: 3px 16px;
        text-decoration: none;
    }
    #svg-container {
        overflow: scroll;
        width: 100vw;
        height:100vh;
    }
    #nav {
        bottom: 1%;
        right: 1%;
    }
  }
/* END MOBILE VERSION */

/* START darkmode */
.darkmode {
    background-color: rgb(19, 23, 31);
}

.darkmode .nav_btn {
    background-color: #6464b9;
    color: white;
}

.darkmode .nav_btn:hover {
    background-color: #6464b980;
}

.darkmode .wall {
    fill: #6464b9 !important;
}

.darkmode #dialog_bib, .darkmode #dia_err {
    background-color: #1a1a4e;
    color: #d8d8df;
}

.darkmode .dm_ena, .darkmode a, .darkmode a:visited {
    color: white !important;
}

.darkmode a:hover {
    color: #d8d8df !important;
}
/* END darkmode */